html {
    font-size: 62.5%;
}

body {
    margin: 10px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #333;
    line-height: 1.5;
}

.container {
    max-width: 1140px;
    margin: auto;
    border: 3px solid black;
    padding: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    
}

h1 {
    font-size: 5.61rem;
    margin: 3rem 0 1rem;
}

h2 {
    font-size: 4.209rem;
    margin: 3rem 0 0.5rem;
}

h3 {
    font-size: 3.157rem;
    margin: 1.5rem 0 1rem;
}

img {
    width: 100%;
}

p {
    font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}

ol li {
    line-height: 2;
}