body {
    margin: 10px;
    background-color: aquamarine;
    padding: 10px;
}

h1 {
    font-size: 200%;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-shadow: rgba(0, 0, 0, 0.9);
}

a:visited, a:link {
    color: dodgerblue;
}

a:hover, a:focus {
    color: deeppink;
}

#first {
    border: 5px solid darkred;
    padding: 10px;
    margin: 10px;
}

#second {
    border: 5px solid darkviolet;
    padding: 10px;
    margin: 10px;
}