<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML & CSS BASICS Part 2: Layout</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>

    <span class="box"></span>
    <span class="box"></span>

    <span class="box"></span><span class="box"></span>

    <div class="boxed">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio nihil
        deserunt omnis modi dolore quibusdam! Aperiam nihil sapiente excepturi
        fuga.
      </p>
    </div>

    <div class="boxes">
      <div class="box1 box-one"></div>
      <div class="box1 box-two"></div>
      <div class="box1 box-three"></div>
    </div>

    <article class="tweet clearfix">
      <div class="avatar"></div>
      <p>Lorem ipsum dolor sit amet.</p>
      <p class="clear">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, aut.
        Id voluptate quaerat aliquam. Ipsam, quia ad? Ipsum dignissimos
        praesentium maiores illum autem doloremque ullam.
      </p>
    </article>

    <div class="container">
      <div class="flexbox boxx">A</div>
      <div class="flexbox">B</div>
      <div class="flexbox">C</div>
    </div>

    <div class="containers">
      <div class="boxxs boxx-one">A</div>
      <div class="boxxs">B</div>
      <div class="boxxs">C</div>
      <div class="boxxs boxx-four">D</div>
    </div>

    <p class="first">First</p>
    <p>Second</p>

    <div class="containerz">
      <div class="boxer">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore
          cum dolores repudiandae labore, iste illum quisquam vel, porro eius
          eligendi asperiores! Nam accusantium laborum nisi, fugiat enim
          voluptates velit repudiandae.
        </p>
      </div>
      <div class="boxer">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci,
          architecto deleniti! Ea facere natus magnam commodi molestias possimus
          corporis sed perspiciatis nisi tenetur. Modi quae animi unde, ipsa
          nesciunt consequatur!
        </p>
      </div>
    </div>
  </body>
</html>
